<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>

<h1>Movies Index</h1>
<% @movies.each do |m| %>
<%= m.title %>
<img src="<%= url_for(m.poster) if m.poster.attached? %>">
<%= m.synopsis %>
<%= m.release_year %>
<% end %>