<div class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop" style="max-width: 500px">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "card py-6 px-6 mb-4"}) do |f| %>
        <h1 class="title has-text-dark mb-6">Log in</h1>

        <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "input mb-4", placeholder: "email", required: true %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input mb-4", placeholder: "password", required: true %>

        <button class="button is-success mr-2" type="submit">
          <span>Log in</span>
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
        </button>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to new_registration_path(resource_name), class: "button is-light" do %>
            <span>Sign up</span>
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
          <% end %>
        <% end %>

        <br>

        <%= link_to user_google_oauth2_omniauth_authorize_path, class: "button is-light mt-4 has-text-centered" do %>
          <span class="icon" style="font-size: 2rem;">
            <img src="/images/btn_google_light_normal_ios.svg" alt="Google Plus Logo">
          </span>
          <span>Sign in with Google</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
